<div class="event contact">

  <%= form.fields_for :contacts, contact, :child_index => (contact.new_record? ? "index_to_replace_with_js" : nil) do |contact_form| %>
      <div class="package_event_time">
        <%= t('general.label.name')%>
      </div>
      <div class="package_contact_address">
        <%= t('general.label.email')%>
      </div>

      <div class="package_event_time clear">
        <%= contact_form.text_field :name, :class => 'event' %>
      </div>
      <div class="package_contact_address">
        <%= contact_form.text_field :email, :class => 'event' %>
      </div>

      <div class="package_event_time clear">
        <%= t('general.label.phone')%>
      </div>
      <div class="package_contact_address fl">
        <%= t('general.label.address')%>
      </div>


      <div class="package_event_time clear">
        <%= contact_form.text_field :phone, :class => 'event' %>
      </div>
      <div class="package_contact_address">
        <%= contact_form.text_area :address, :class => 'event' %>
      </div>

      <div class="deleteLink">
        <% if contact.new_record? %>
            <span class="removeContactField"> <%= t('general.label.remove')%></span>
        <% else %>
            <%= contact_form.check_box :_destroy %>
            <span class="deleteLink deleteLinkCheckbox">
              <%= t('helpers.delete') %>
            </span>
        <% end %>
      </div>
  <% end %>

</div>