<div class="good_item_head">
  <%= t('activerecord.models.comment') %>
</div>
<div class="itemDetail" id="item_comments" style="padding-left:0">
  <%= render item.approved_comments %>
</div>
<div class="itemDetail" style="padding-left:0">
  <div class="eventTitle">

     <%= t('general.label.your') %>
     <%= t('activerecord.models.comment') %>
    <% if rating %>
        <div style="float:right">
          <%= t('general.label.rating') %>
           <%#= ratings_for item %>
        </div>
    <% end %>
  </div>

  <div class="commentForm">

    <%= render :partial => 'comments/form', :locals => {:comment => item.comments.new, :commentable => item} %>
  </div>
</div>