<div id="ownership_request_lb" class="" style="display: none">
  <%= image_tag 'close.jpeg', :class=> 'close_lb close_ownership_request_lb', :id => 'close_ownership_request_lb', :title => 'close' %>
  <% form_for OwnershipRequest.new, :url => ownership_requests_path, :remote => true, :html=> {:id => 'ownership_requests_form'} do |f| %>
      <h2 class="thickbox_header">
        <%= t('general.label.own_this_label') %>
      </h2>

      <div id="ownership_request_summary" style="margin-top: 5px;">

      </div>
      <label>
        <%= t('general.label.name') %>
      </label>

      <p class="message">
        <%= f.text_field :name %>
      </p>
      <label>
        <%= t('general.label.designation') %>
      </label>

      <p class="message">
        <%= f.text_field :designation %>
      </p>
      <label>
        <%= t('general.label.company') %>
      </label>

      <p class="message">
        <%= f.text_field :company %>
      </p>

      <label>
        <%= t('general.label.email') %>
      </label>

      <p class="message">
        <%= f.text_field :email %>
      </p>

      <label>
        <%= t('general.label.phone') %>
      </label>

      <p class="message">
        <%= f.text_field :phone %>
      </p>

      <label>
        <%= t('activerecord.models.message') %>
      </label>

      <p class="message">
        <%= f.text_area :message %>
      </p>



      <p style="text-align: center">
        <%= f.hidden_field :resource_id, :value => item_id %>
        <%= f.hidden_field :resource_type, :value => item %>
        <%= submit_tag t("helpers.submit.send"), :id =>'submit_to_own' %>
        <%= image_tag 'loadingAnimation.gif', :id => 'submit_to_own_loading', :style=> 'display:none' %>
      </p>
  <% end %>


</div>