<% title @search_title %>

<div class="pageHead">
  Spots
  <div class="pageHeadOptions">
    <b>Sort by: </b> <%= link_to '...', '#' %>
  </div>
</div>

<% @spots.each do |spot| %>
    <div class="listItem">
      <div class="fl listItemLogo">
        <%= image_tag spot.main_image_url(:thumb) %>
      </div>

      <div class="fl listItemDesc">
        <div class="fl hotel_desc_info">
          <div class="fl title">
            <%= link_to truncate(spot.title, :length => 50), spot %>
            <h4>&nbsp;</h4>
          </div>
          <div class="fl description">
            <%= truncate(sanitize(spot.description).gsub(/<\/?[^>]*>/, ""), :length => 350) %>
          </div>

        </div>
        <div class="fl price_n_button">
          <div class="fl">
            <div class="fl price">

            </div>
            <!--<div class="fl rating">-->
            <!--Like: 1000-->
            <!--<span style="float:right;">-->
            <!--Rating: 4-->
            <!--</span>-->
            <!--</div>-->
          </div>
          <%= link_to 'Details', spot, :class => 'detail_link' %>
        </div>
      </div>

    </div>
<% end %>








