<% title @search_title %>

<div class="pageHead">
  Spots
  <div class="pageHeadOptions">
    <b>Sort by: </b> <%= link_to '...', '#' %>
  </div>
</div>

<% @spots.each do |spot| %>
    <div class="listItem">
      <div class="fl listItemLogo">
        <%= image_tag spot.main_image_url(:thumb) %>
      </div>

      <div class="fl listItemDesc">
        <div class="fl hotel_desc_info">
          <div class="fl title">
            <%= link_to truncate(spot.title, :length => 50), spot %>
            <h4>dhaka, bangladesh</h4>
          </div>
          <div class="fl description">
            <%#= truncate(sanitize(spot.description*7).gsub(/<\/?[^>]*>/, ""), :length => 350) %>
            <%= truncate(sanitize(spot.description*7).gsub(/<\/?[^>]*>/, ""), :length => 350) %>
          </div>

        </div>
        <div class="fl price_n_button">
          <div class="fl price">
           foo bar
          </div>
          <div class="fl rating">
            Like: 1000
            <span style="float:right;">
              Rating: 4
            </span>
          </div>
          <%= link_to 'Details', spot, :class => 'detail_link' %>
        </div>
      </div>

    </div>
<% end %>








