<h1 class="admin_header">Listing Spots</h1>
<div class="admin_new_link"><%= link_to 'New Spot', new_spot_path(:f => true) %></div>

<div class="msg_desc_info_big">

  <div class="f_bor evenRow ">
    <div class="fl w_300 pad_lr_5">
      <strong>Title</strong>
    </div>
    <div class="fl w_130 pad_lr_5">
      <strong>Category</strong>
    </div>
    
    <div class="admin_links">

    </div>
  </div>

  <% @spots.each do |spot| %>

    <div class="f_bor <%= cycle('oddROw', 'evenRow') %> ">
      <div class="fl w_300 pad_lr_5">
        <%= truncate(spot.title, :length => 100) %>
      </div>

      <div class="fl w_130 pad_lr_5">
        <%= spot.category %>
      </div>
      


      <div class="fl admin_links">
        <span><%= link_to 'Show', spot %></span>
        <span><%= link_to 'Edit', edit_spot_path(spot) %></span>
        <span><%= link_to 'Destroy', spot, :confirm => 'Are you sure?', :method => :delete %></span>
      </div>
    </div>

  <% end %>

</div>

