<% title 'Search  Ads for sale' %>
<%= content_for :over_mid_content do %>
  <div class="redhead_row">
    <h2>
      Ads for sale : Search results
    </h2>
  </div>
<% end %>
<div class="ad_business">
  <%= link_to raw('&raquo; Advance Search'), advance_search_path(params.delete_if{|k,v| ['controller','action'].include?(k)}) %>
</div>
<div class="firms_row">
  <div class="firms_head">
    Ads for sale
  </div>
  <% @ads.each do |ad| %>
    <div class="f_bor spot">
      <div class="f_inner_bor">
        <%= image_tag ad.main_image_url(:thumb), :width => 68, :height => 55 %>
      </div>
      <strong><%= ad.category %></strong>
      <h3>
        <%= link_to ad.title, ad_path(ad) %>
      </h3>

      <%= truncate(sanitize(ad.description).gsub(/<\/?[^>]*>/, "") ,:length => 150)  %>

    </div>
  <% end %>
  <% if @ads.total_pages > 1 %>
    <div class="f_bor pagination">
      <%= will_paginate  @ads %>
    </div>
  <% end %>
  <div class="firma_bottom"></div>
</div>




