<h1>Listing messages</h1>

<table>
  <tr>
    <th><%= t('general.label.name')%></th>
    <th><%= t('general.label.email')%></th>
    <th><%= t('general.label.address')%></th>
    <th><%= t('general.label.phone')%></th>
    <th>Content</th>
    <th>Created by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @messages.each do |message| %>
      <tr>
        <td><%= message.name %></td>
        <td><%= message.email %></td>
        <td><%= message.address %></td>
        <td><%= message.phone %></td>
        <td><%= message.content %></td>
        <td><%= message.created_by %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Message', new_message_path %>
