
<% title 'Profile Details' %>
<%= content_for :over_mid_content do %>
  <div class="redhead_row">
    <h2>Profile Details</h2>
  </div>
<% end %>

<% if current_user == @profile.user %>
  <div class="ad_business">
    <%= link_to raw('&lArr; Edit'), edit_user_profile_path(@profile.user)  %>
  </div>
<% end %>
<div class="firms_row message_detail">
  <div class="firms_head">
    <%=  @profile.first_name %>'s Profile
  </div>
  <div class="f_bor article">
    <div class="f_inner_bor">
      <%= image_tag @profile.avatar.url(:thumb), :width => 68, :height => 55 %>
    </div>

    <div class="f_inner_right">
      <div class='f_inner_right_row'>
        <b>First name:</b>
        <%= @profile.first_name %>
      </div>


      <div class='f_inner_right_row'>
        <b>Last name:</b>
        <%= @profile.last_name %>
      </div>

      <div class='f_inner_right_row'>
        <b>Address:</b>
        <%= @profile.address %>
      </div>

      <div class='f_inner_right_row'>
        <b>District:</b>
        <%= @profile.district %>
      </div>

      <div class='f_inner_right_row'>
        <b>Division:</b>
        <%= @profile.division %>
      </div>

      <div class='f_inner_right_row'>
        <b>Zip code:</b>
        <%= @profile.zip_code %>
      </div>

      <div class='f_inner_right_row'>
        <b>Country:</b>
        <%= @profile.country.name if  @profile.country%>
      </div>
    </div>


  <div class="firma_bottom"></div>
</div>

