<% title 'Profile Details' %>
<div class="pageHead">
  Profile of <%= @profile.full_name %>
</div>

<div class="item_details">
  <% if current_user == @profile.user %>
      <div class="ad_business">
        <%= link_to raw('&lArr; Edit'), edit_user_profile_path(@profile.user) %>
      </div>
  <% end %>

  <fieldset class="moderator">
    <legend>I am moderator of</legend>

    <% @profile.user.created_clubs.each_with_index do |club, i| %>

        <%= link_to club do %>
            <div class="user_box_item <%= 'right_margin_zero' if i%3 == 2 %>">
              <%= club.name %>
            </div>
        <% end %>
    <% end %>
  </fieldset>
  <fieldset class="right_margin_zero moderator ">
    <legend>I am member of</legend>

    <% @profile.user.associated_tour_clubs.each_with_index do |club, i| %>

        <%= link_to club do %>
            <div class="user_box_item <%= 'right_margin_zero' if i%3 == 2 %>">
              <%= club.name %>
            </div>
        <% end %>
    <% end %>
  </fieldset>
  <div class="good_item_head">Profile Details</div>
  <div class="itemDetail">
    <div class="avatar">
      <%= image_tag @profile.avatar.url(:thumb), :width => 68, :height => 55 %>
    </div>
    <div class="first_name_last_name">
      <div class='f_inner_right_row'>
        <b>First name:</b>
        <%= @profile.first_name %>
      </div>


      <div class='f_inner_right_row'>
        <b>Last name:</b>
        <%= @profile.last_name %>
      </div>
    </div>
  </div>


</div>
