<% title localized_item_header(@transport) %>
<div class="pageHead">
  <%= localized_item_header(@transport) %>
</div>


<%= content_for :js_css_include do %>
    <%= javascript_include_tag 'jquery.validate', 'tiny_redcloth', 'jquery-fieldselection', 'thickbox' %>
    <%= stylesheet_link_tag 'jquery-ui', 'autocomplete', 'thickbox' %>
<% end %>
<div class="item_form">

<%= form_for(@transport, :html => {:multipart => true, :id=> 'transport_form'}) do |f| %>
    <% @builder = f %>
    <%= error_messages_for(@transport) %>

    <div class="form_summary" id="summary"></div>

    <div class="item_form_row">
      <div class="label">
        <%= t('general.label.category') %>
        <span>*</span>
      </div>

      <%= f.select :category_id, Transport::CATEGORIES, :prompt=> 'Select Category' %>
    </div>


    <div class="item_form_row">
      <div class="label">
        <%= t('general.label.name') %>
        <span>*</span>
      </div>
      <%= f.text_field :name %>
    </div>


    <div class="item_form_row">
      <div class="label">
        <%= t('general.label.description') %>
        <span>*</span>
      </div>
      <%= f.text_area :description, :rows => 20, :cols => 80 %>
    </div>


    <div class="item_form_row">
      <div class="label">
        <%= t('general.label.website') %>

      </div>
      <%= f.text_field :web %>
    </div>


    <div class="item_form_row">
      <div class="label">
        <%= t('general.label.destinations') %>

      </div>

      <div class="f_edit_row photo_box">
        <% for district in District.actives %>
            <div class="spot_in_package district_in_transport">
              <%= check_box_tag "transport[destination_ids][]", district.id, @transport.destinations.include?(district), :id => dom_id(district) %>

              <label for="<%= dom_id(district) %>"><%= district.name %></label>
            </div>
        <% end %>
      </div>


    </div>
    <div class="item_form_row">
      <div class="label">
        <%= t('general.label.spots') %>

      </div>

      <div class="f_edit_row photo_box">
        <% for spot in Spot.actives.includes(:district) %>
            <div class="spot_in_package spot_of_district_<%= spot.district_id %>">
              <%= check_box_tag "transport[spot_ids][]", spot.id, @transport.spots.include?(spot), :prev_checked => @transport.spots.include?(spot), :id => dom_id(spot) %>

              <label for="<%= dom_id(spot) %>"><%= spot.name %></label>
            </div>
        <% end %>
      </div>
    </div>


    <div class="item_form_row">
      <div class="label">
        <%= t('general.label.image') %>

      </div>

      <div class="f_edit_row photo_box">
        <!-- <h3>Images <span style="font-size: 11px;"><%#= transport_photo_number_str(@transport) %></span></h3>-->
        <div class="edit_img_row">

          <% unless @transport.new_record? %>
              <%= render :partial => 'shared_partials/existing_photo', :collection => @transport.assets %>
          <% end %>

          <div id="transport_photos">
            <%= render :partial => 'shared_partials/photo', :locals => {:form => f, :photo => @transport.assets.new} if @transport.new_record? %>
          </div>

        </div>
        <%= link_to t('general.label.add_more'), 'javascript:void(0)', :class=>'adMore addMoreImage' %>
      </div>

    </div>


    <div class="item_form_row">
      <div class="label wider">
        <%= t('general.label.branches') %>

      </div>


      <div class="f_edit_row photo_box" style="width:705px;">


        <div id="transport_branch_locations" class="package_events">

          <% unless @transport.new_record? %>
              <%= render :partial => 'shared_partials/branch_location', :collection => @transport.branch_locations, :locals => {:form => f} %>
          <% end %>
          <%= render :partial => 'shared_partials/branch_location', :locals => {:form => f, :branch_location => @transport.branch_locations.new} if @transport.new_record? || @transport.branch_locations.size == 0 %>
        </div>

        <%= link_to t('general.label.add_more'), 'javascript:void(0)', :class=>'adMore addMoreBranchLocation' %>
      </div>

    </div>

    <div class="item_form_row">
      <div class="label wider">
        <%= t('general.label.schedule') %>

      </div>

      <div class="f_edit_row photo_box" style="width:705px;">


        <div id="transport_departure_schedules" class="package_events">

          <% unless @transport.new_record? %>
              <%= render :partial => 'departure_schedule', :collection => @transport.departure_schedules, :locals => {:form => f} %>
          <% end %>
          <%= render :partial => 'departure_schedule', :locals => {:form => f, :departure_schedule => @transport.departure_schedules.new} if @transport.new_record? || @transport.departure_schedules.size == 0 %>
        </div>

        <%= link_to t('general.label.add_more'), 'javascript:void(0)', :class=>'adMore addMoreDepartureSchedule' %>
      </div>

    </div>


    <div class="item_form_row">
      <div class="label ">
        <%= t('general.label.policies') %>

      </div>

      <div class="f_edit_row photo_box" style="width:705px;">


        <div id="transport_policies" class="package_events">

          <% unless @transport.new_record? %>
              <%= render :partial => 'shared_partials/policy', :collection => @transport.policies, :locals => {:form => f} %>
          <% end %>
          <%= render :partial => 'shared_partials/policy', :locals => {:form => f, :policy => @transport.policies.new} if @transport.new_record? || @transport.policies.size == 0 %>
        </div>

        <%= link_to t('general.label.add_more'), 'javascript:void(0)', :class=>'adMore addMorePolicy' %>
      </div>

    </div>

    <div class="item_form_row">
      <div class="label ">
        <%= t('general.label.contacts') %>

      </div>

      <div class="f_edit_row photo_box" style="width:705px;">


        <div id="transport_contacts" class="package_events">

          <% unless @transport.new_record? %>
              <%= render :partial => 'shared_partials/contact', :collection => @transport.contacts, :locals => {:form => f} %>
          <% end %>
          <%= render :partial => 'shared_partials/contact', :locals => {:form => f, :contact => @transport.contacts.new} if @transport.new_record? || @transport.contacts.size == 0 %>
        </div>

        <%= link_to t('general.label.add_more'), 'javascript:void(0)', :class=>'adMore addMoreContact' %>
      </div>

    </div>


    <div class="submit_btn">
      <%= f.submit :class => 'search_button', :style => 'width:140px' %>
      <span class="search_button_right"> </span>
    </div>


<% end %>
<div style="display:none">
  <div id="new_photo_html">
    <%= render(:partial => 'shared_partials/photo', :locals => {:form => @builder}, :object => @transport.assets.new) %>
  </div>


  <div id="new_contact_html">
    <%= render(:partial => 'shared_partials/contact', :locals => {:form => @builder}, :object => @transport.contacts.new) %>
  </div>

  <div id="new_policy_html">
    <%= render(:partial => 'shared_partials/policy', :locals => {:form => @builder}, :object => @transport.policies.new) %>
  </div>

  <div id="new_departure_schedule_html">
    <%= render(:partial => 'departure_schedule', :locals => {:form => @builder}, :object => @transport.departure_schedules.new) %>
  </div>

  <div id="new_branch_location_html">
    <%= render(:partial => 'shared_partials/branch_location', :locals => {:form => @builder}, :object => @transport.branch_locations.new) %>
  </div>

  <%= render :partial => 'shared_partials/edit_asset_label' %>
</div>


<style type="text/css">


</style>
<script type="text/javascript">
    var allowed_images = 10;

    $(document).ready(function() {
        TBD.DHTML.addMoreItem('a.addMoreContact', '#new_contact_html', '#transport_contacts', 'span.removeContactField', 'contact');
        TBD.DHTML.addMoreItem('a.addMorePolicy', '#new_policy_html', '#transport_policies', 'span.removePolicyField', 'policy');
        TBD.DHTML.addMoreItem('a.addMoreBranchLocation', '#new_branch_location_html', '#transport_branch_locations', 'span.removeBranchLocationField', 'branch_location');
        TBD.DHTML.addMoreItem('a.addMoreDepartureSchedule', '#new_departure_schedule_html', '#transport_departure_schedules', 'span.removeDepartureScheduleField', 'departure_schedule');
        TBD.DHTML.addMoreItem('a.addMoreDestination', '#new_destination_html', '#transport_destinations', 'span.removeDestinationField', 'destination');

        var validator = $("#transport_form").validate({
            invalidHandler: function() {
                $("#summary").html('<div class="item_form_row">' + validator.numberOfInvalids() + " field(s) are invalid, * marked fields are required </div>");
                //$('textarea.tiny_redcloth').removeAttr('trc_option_enabled');
                //$('textarea.tiny_redcloth').tinyRedcloth();

            },
            errorPlacement: function(error, element) {
                error.remove();
            },

            rules: {
                'transport[category_id]': "required",
                'transport[name]' : "required",
                'transport[description]': "required"
            },
            messages: {
                comment: "Please enter a comment."
            }
        });

        $('#transport_discount_till, #transport_start_date, #transport_end_date').datepicker({
            changeMonth: true,
            changeYear: true
        });

        TBD.DHTML.addMorePhoto('transport_photos', allowed_images);
        TBD.ASSETS.deleteAsset('transports');
        TBD.ASSETS.makeMainPhoto('transports');

        $(".district_in_transport input[type='checkbox']").each(function () {
            TBD.DHTML.checkUncheckSpot(this);
        });
        $(".district_in_transport input[type='checkbox']").click(function () {
            TBD.DHTML.checkUncheckSpot(this);
        });

    });


</script>
