<%= content_for :over_mid_content do %>
    <div class="redhead_row">
      <h2>Advanced Search</h2>
    </div>
<% end %>
<%= form_for @search, :url=> search_ads_path do |f| %>
    <div class="firms_row">
      <div class="firma_top"></div>
      <div class="ad_ser_row">

        <div class="search_ad">
          <label>Country:</label>
          <%= f.select :country_id_equals, Country.all.collect { |b| [b.name, b.id] }, :prompt=> '--Any--' %>
        </div>

        <div class="search_ad">
          <label>Ad Name:</label>
          <%= f.text_field :ad_name_contains %>
        </div>

        <div class="search_ad">
          <label>Division:</label>
          <%= f.select :division_id_equals, Division.all.collect { |b| [b.name, b.id] }, :prompt=> '--Any--' %>
        </div>

        <div class="search_ad">
          <label>Show Name:</label>
          <input name="" type="text">
        </div>

        <div class="search_ad">
          <label>Breed:</label>
          <%= f.select :breed_id_equals, Breed.all.collect { |b| [b.name, b.id] }, :prompt=> '--Any--' %>
        </div>


        <div class="search_ad">
          <label>Discipline:</label>
          <%= f.select :disciplines_id_equals, Discipline.all.collect { |b| [b.name, b.id] }, :prompt=> '--Any--' %>
        </div>

        <div class="search_ad">
          <label>Gender:</label>
          <%= f.select :gender_equals, ['Male', 'Female'], :prompt=> '--Any--' %>
        </div>

        <div class="search_ad">
          <label>Ad Title:</label>
          <%= f.text_field :title_contains %>
        </div>

        <div class="search_ad clear">
          <label>Price Range:</label>

          <div class="ad_price">
            <label>$</label>
            <%= f.text_field :price_gte, :size => 8 %> <label>To</label> <%= f.text_field :price_lte, :size => 8 %>
          </div>
        </div>

        <div class="ad_btn"><input name="" class="adBtn" type="submit" value=""/></div>

      </div>

      <div class="firma_bottom"></div>
    </div>
<% end %>



