<h1 class="admin_header">Listing Ads</h1>
<div class="admin_new_link"><%= link_to 'New Ad', new_ad_path(:f => true) %></div>

<div class="msg_desc_info_big">

  <div class="f_bor evenRow ">
    <div class="fl w_200 pad_lr_5">
      <strong>Title</strong>
    </div>
    <div class="fl w_130 pad_lr_5">
      <strong>Category</strong>
    </div>
    <div class="fl w_130 pad_lr_5">
      <strong>Featured/Basic</strong>
    </div>
    <div class="admin_links">

    </div>
  </div>

  <% @packages.each do |ad| %>

    <div class="f_bor <%= cycle('oddROw', 'evenRow') %> ">
      <div class="fl w_200 pad_lr_5">
        <%= ad.title %>

      </div>

      <div class="fl w_130 pad_lr_5">
        <%= ad.category %>
      </div>
      <div class="fl w_130 pad_lr_5">
        <%= ad.featured ? 'Featured' : 'Basic' %>
      </div>


      <div class="fl admin_links">
        <span><%= link_to 'Show', package_path(ad) %></span>
        <span><%= link_to 'Edit', edit_package_path(ad) %></span>
        <span><%= link_to 'Destroy', package_path(ad), :confirm => 'Are you sure?', :method => :delete %></span>
      </div>
    </div>

  <% end %>

</div>

