<% title @search_title %>

<div class="pageHead">
  <%= t('activerecord.models.transport') %>
  <div class="pageHeadOptions">
   <!-- <b>Sort by: </b> <%= link_to 'Price', '#' %>-->
  </div>
</div>

<% @transports.each do |transport| %>
    <div class="listItem">
      <div class="fl listItemLogo">
        <%= image_tag transport.main_image_url(:thumb) %>
      </div>

      <div class="fl listItemDesc no_location">
        <div class="fl hotel_desc_info">
          <div class="fl title">
            <%= link_to truncate(transport.name, :length => 50), transport %>
          </div>
          <div class="fl description">
            <%= truncate(sanitize(transport.description).gsub(/<\/?[^>]*>/, ""), :length => 350) %>
          </div>

        </div>
        <div class="fl price_n_button">
          <div class="fl">
            <div class="fl price">

            </div>

          </div>
          <%= link_to t('general.label.details'), transport, :class => 'detail_link' %>
        </div>
      </div>

    </div>
<% end %>








