<% title @search_title %>

<div class="pageHead">
  Transports
  <div class="pageHeadOptions">
    <b>Sort by: </b> <%= link_to 'Price', '#' %>
  </div>
</div>

<% @transports.each do |transport| %>
    <div class="listItem">
      <div class="fl listItemLogo">
        <%= image_tag transport.main_image_url(:thumb) %>
      </div>

      <div class="fl listItemDesc">
        <div class="fl hotel_desc_info">
          <div class="fl title">
            <%= link_to truncate(transport.name, :length => 50), transport %>
            <h4><%= raw transport.locations %></h4>
          </div>
          <div class="fl description">
            <%= truncate(sanitize(transport.description*7).gsub(/<\/?[^>]*>/, ""), :length => 350) %>
          </div>

        </div>
        <div class="fl price_n_button">
          <div class="fl">
            <div class="fl price">

            </div>
            <div class="fl rating">
              Like: 1000
            <span style="float:right;">
              Rating: 4
            </span>
            </div>
          </div>

          <%= link_to 'Details', transport, :class => 'detail_link' %>
          <%#= link_to 'Book This', transport, :class => 'book_link' %>
        </div>
      </div>

    </div>
<% end %>








