<div class="pageHead">
  <%= @transport.name %>
</div>

<%= render :partial => 'shared_partials/detail_page_photo_gallery', :locals => {:items => @transport.assets} %>

<div class="item_details">

  <div class="itemDetail pad_TL0"><%= @transport.description %></div>

  <div class="good_item_head">
    <%= t('general.label.branches') %>
  </div>
  <div class="itemDetail" style="width:682px;">

    <% @transport.locations_by_districts.each do |district, locations| %>
        <div class="eventTitle">
          <%= district.name %>
        </div>
        <div class="branchLocations">
          <% branch_location_index = -1 %>
          <% locations.each do |location| %>
              <% branch_location_index += 1 %>
              <div class="branchLocation <%= 'clear' if branch_location_index % 3 == 0 %>">
                <span><b><%= location.location %></b></span>
                <span><%= t('general.label.address')%>: <%= location.address %></span>
                <span><%= t('general.label.phone')%>: <%= location.phone %></span>
              </div>
          <% end %>
        </div>
    <% end %>
  </div>

  <div class="good_item_head">
    <%= t('general.label.schedule') %>
  </div>
  <div class=" itemDetailDeparture">
    <%= raw departure_schedules(@transport) %>
  </div>

  <div class="good_item_head">
    <%= t('general.label.policies') %>
  </div>
  <div class="itemDetail">
    <% @transport.policies.each do |policy| %>
        <div class="eventTitle clear"><b><%= policy.title %></b></div>
        <div class="eventDetail clear"><%= policy.detail %></div>
    <% end %>
  </div>

  <div class="good_item_head">
    <%= t('general.label.contacts') %>
  </div>
  <div class="itemDetail">
    <% @transport.contacts.each do |contact| %>
        <div class=" clear"><b><%= contact.name %></b></div>
        <div class="eventDetail clear"><%= t('general.label.phone')%>: <%= contact.phone %></div>
    <% end %>
  </div>
</div>