<% title @transport.name %>
<%= content_for :js_css_include do %>
    <script type="text/javascript" src="http://maps.google.com/maps?file=api&v=2&key=<%= GMAP_API_KEY %>"></script>

    <%= javascript_include_tag 'jquery.easing.1.3', 'jquery.galleryview-1.1', 'jquery.timers-1.1.2', 'thickbox', 'jquery.gmap-1.1.0-min' %>
    <%= javascript_include_tag 'jquery.validate' %>
    <%= stylesheet_link_tag 'thickbox' %>

<% end %>

<%= content_for :over_mid_content do %>
    <div class="redhead_row">
      <div class="subLink">
        <ul>
          <li>
            <%= link_to t('general.label.message_to_authority'), "#TB_inline?dd=4&width=400&height=400&inlineId=send_message_to_owner_lb&modal=true", :class => 'thickbox' %>
          </li>

          <li>
            <%= link_to t('general.label.tell_your_friends'), "#TB_inline?dd=4&width=400&height=300&inlineId=send_to_friend_lb&modal=true", :class => 'thickbox' %>
          </li>

          <li>
            <%= link_to t('helpers.submit.print'), print_transport_path(@transport) %>
          </li>
          <li id="saved_item_li">
            <%= render :partial => 'shared_partials/saved_item', :locals => {:savable => @transport} %>
          </li>
        </ul>
      </div>
    </div>
<% end %>

<div class="pageHead">
  <%= @transport.name %>
</div>

<%= render :partial => 'shared_partials/detail_page_photo_gallery', :locals => {:items => @transport.assets} %>

<div class="item_details">

  <div class="itemDetail pad_TL0"><%= @transport.description %></div>

  <div class="good_item_head">
    <%= t('general.label.branches') %>
  </div>
  <div class="itemDetail" style="width:682px;">

    <% @transport.locations_by_districts.each do |district, locations| %>
        <div class="eventTitle">
          <%= district.name  if district%>
        </div>
        <div class="branchLocations">
          <% branch_location_index = -1 %>
          <% locations.each do |location| %>
              <% branch_location_index += 1 %>
              <div class="branchLocation <%= 'clear' if branch_location_index % 3 == 0 %>">
                <span><b><%= location.location %></b></span>
                <span><%= t('general.label.address')%>: <%= location.address %></span>
                <span><%= t('general.label.phone')%>: <%= location.phone %></span>
              </div>
          <% end %>
        </div>
    <% end %>
  </div>

  <div class="good_item_head">
    <%= t('general.label.schedule') %>
  </div>
  <div class="itemDetailDeparture">
    <%= raw departure_schedules(@transport) %>
  </div>

  <div class="good_item_head">
    <%= t('general.label.policies') %>
  </div>
  <div class="itemDetail">
    <% @transport.policies.each do |policy| %>
        <div class="eventTitle clear"><b><%= policy.title %></b></div>
        <div class="eventDetail clear"><%= policy.detail %></div>
    <% end %>
  </div>

  <div class="good_item_head">
    <%= t('general.label.contacts') %>
  </div>
  <div class="itemDetail">
    <% @transport.contacts.each do |contact| %>
        <div class=" clear"><b><%= contact.name %></b></div>
        <div class="eventDetail clear"><%= t('general.label.phone')%>: <%= contact.phone %></div>
    <% end %>
  </div>



  <%= render :partial => 'shared_partials/detail_page_comment', :locals => {:item => @transport, :rating => true} %>
</div>

<div id="send_message_to_owner_lb" style="display: none">
  <%= image_tag 'close.jpeg', :class=> 'close_lb', :id => 'close_send_message_to_owner_lb', :title => 'close' %>
  <%= render :partial => 'messages/ajax_form', :locals => {:message_target => @transport} %>

</div>

<%= render :partial => 'shared_partials/send_to_friends', :locals => {:item => 'transport', :item_id => @transport.id} %>


<style type="text/css">
    .branchLocations {
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }

    .branchLocation {
        width: 217px;
        float: left;
        margin: 5px 10px 10px 0;
    }

    .branchLocation span {
        float: left;
        width: 217px;
    }

    div.departure_times {
        width: 680px;
        float: left;
    }

    span.departure_time {
        width: 100px;
        float: left;
        margin: 5px 10px 5px 0
    }

    .itemDetailDeparture {
        width: 702px;
        float: left;
        margin: 10px 0;
    }

    .itemDetailDeparture .evenRow, .itemDetailDeparture .oddRow {
        width: 682px;
        padding: 5px 10px;
        margin-bottom: 10px;
    }

    .itemDetailDeparture .evenRow {
        background: none;
        color: #000000;
    }
</style>
<script type="text/javascript">
    $(document).ready(function() {
        $('#detail_page_photo_gallery').galleryView(TBD.DETAIL_PAGE_PHOTO_GALLERY_OPTIONS);
    });


</script>