<div class="comment">
  <div class="eventDetail eventTitle clear">
    <%= comment.comment_by %>
    <span style="color:#CCCCCC"><%= t('general.label.says') %>    </span>
    <small style="color:#101050; font-weight: normal; float:right;">
      <%= t('general.label.time') %> : <%= l(comment.created_at).bangla %></small>
  </div>
  <div class="eventDetail clear">
    <%= comment.content %>
  </div>
</div>