<div style="width:100%">
  <div id="commentStatus" style="padding:10px 0">

  </div>
</div>

<% form_for [commentable, comment], :remote => true, :html => {:id =>'comment_form'} do |f| %>
    <% unless current_user %>
        <p>
          <%= f.label :name %><br/>
          <%= f.text_field :name %>
        </p>
        <p>
          <%= f.label :email %><br/>
          <%= f.text_field :email %>
        </p>
    <% end %>
    <p>
      <%= f.label :content %><br/>
      <%= f.text_area :content, :rows => 7, :cols => 60 %>
    </p>
    <p>
    <div class="submit_btn" style="margin-left:117px;">
      <%= f.submit :class => 'search_button' %>
      <span class="search_button_right"> </span>
    </div>
    </p>
<% end %>
