<div style="width:100%">
  <div id="commentStatus" style="padding:10px 0">

  </div>
</div>

<% form_for [commentable, comment], :remote => true, :html => {:id =>'comment_form'} do |f| %>
    <% unless current_user %>
        <div class="item_form_row comment_row">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="item_form_row  comment_row">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
    <% end %>
    <div class="item_form_row  comment_row">
      <%= f.label :content %>
      <%= f.text_area :content, :rows => 7, :cols => 60 %>
    </div>

    <div class="submit_btn" style="margin-left:270px;">
      <%= f.submit :class => 'search_button' %>
      <span class="search_button_right"> </span>
    </div>

<% end %>
