<% title localized_item_header(@article) %>
<div class="pageHead">
  <%= localized_item_header(@article) %>
</div>
<%= content_for :js_css_include do %>
    <%= javascript_include_tag 'jquery.form', 'jquery.validate', 'bangla.input', 'bangla_key_maps', 'tiny_redcloth', 'thickbox', 'jquery-fieldselection', 'jquery.caret.min' %>
    <%= stylesheet_link_tag 'jquery-ui', 'autocomplete', 'thickbox' %>
<% end %>
<div class="item_form">
  <%= form_for(@article, :html=> {:multipart => true, :id=> 'article_form'}) do |f| %>
      <% @builder = f %>
      <%= error_messages_for(@article) %>

      <div class="form_summary" id="summary"></div>

      <div class="item_form_row">
        <div class="label">
          <%= t('general.label.category') %>
          <span>*</span>
        </div>
        <%= f.select :category_id, Article::CATEGORIES, :prompt=> t('helpers.select.prompt')%>
      </div>

      <div class="item_form_row">
        <div class="label">
          <%= t('general.label.title') %>
          <span>*</span>
        </div>
        <%= f.text_field :title, :class=> 'txt' %>
      </div>


      <div class="item_form_row">
        <div class="label">
          <%= t('general.label.details') %>
          <span>*</span>
        </div>
        <%= f.text_area :detail, :class => "tiny_redcloth" %>
      </div>

      <div class="item_form_row">
        <div class="label">
          <%= t('general.label.tag') %>
        </div>
        <%= f.text_field :tag_list, :class=> 'txt' %>
      </div>


      <div class="submit_btn">
        <%= f.submit :class => 'search_button' %>
        <span class="search_button_right"> </span>
      </div>

  <% end %>
</div>
<%= render :partial => 'shared_partials/tiny_redcloth_image' %>


<script type="text/javascript">

    var allowed_images = 5;

    $(document).ready(function() {
        var validator = $("#article_frm").validate({
            invalidHandler: function() {
                $("#summary").html('<div class="item_form_row">' + TBD.GENERAL.translateNumber(validator.numberOfInvalids(), '<%=I18n.locale%>') + " <%= t('general.label.invalid_form_fields')%></div>");
            },
            errorPlacement: function(error, element) {
                error.remove();
            },


            rules: {
                'article[category_id]': "required",
                'article[title]' : "required",
                'article[detail]' : "required"

            },
            messages: {
                comment: "Please enter a comment."
            }
        });

        //TBD.DHTML.addMorePhoto('article_photos', allowed_images);
        //TBD.ASSETS.deleteAsset('articles');
        //TBD.ASSETS.makeMainPhoto('articles');
        $('#article_title').banglaInput();
        $('#article_tag_list').banglaInput();
        $('#article_detail').banglaInput();
        $('textarea.tiny_redcloth').tinyRedcloth();
    });


</script>

