<h1 class="admin_header">Listing Articles</h1>
<div class="admin_new_link"><%= link_to 'New Article', new_article_path(:f => true) %></div>

<div class="msg_desc_info_big">

  <div class="f_bor evenRow ">
    <div class="fl w_300 pad_lr_5">
      <strong><%= t('general.label.title')%></strong>
    </div>
    <div class="fl w_130 pad_lr_5">
      <strong>Category</strong>
    </div>

    <div class="admin_links">

    </div>
  </div>

  <% @articles.each do |article| %>

      <div class="f_bor <%= cycle('oddROw', 'evenRow') %> ">
        <div class="fl w_300 pad_lr_5">
          <%= truncate(article.title, :length => 100) %>
        </div>

        <div class="fl w_130 pad_lr_5">
          <%= article.category %>
        </div>


        <div class="fl admin_links">
          <span><%= link_to 'Show', article %></span>
          <span><%= link_to 'Edit', edit_article_path(article) %></span>
          <span><%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %></span>
        </div>
      </div>

  <% end %>

</div>

