<% title @search_title %>
<div class="pageHead">
  Articles
  <div class="pageHeadOptions">

  </div>
</div>

<% @articles.each do |article| %>
    <div class="listItem">
      <div class="fl listItemLogo">
        <%= image_tag article.main_image_url(:thumb) %>
      </div>

      <div class="fl listItemDesc">
        <div class="fl hotel_desc_info">
          <div class="fl title">
            <%= link_to truncate(article.title, :length => 50), article %>
            <h4><%= article.category  %></h4>
          </div>
          <div class="fl description">
            <%= truncate(sanitize(article.detail).gsub(/<\/?[^>]*>/, ""), :length => 350) %>
          </div>

        </div>
        <div class="fl price_n_button">
          <div class="fl">
            <div class="fl price">

            </div>
            <div class="fl rating">
              Like: 1000
            <span style="float:right;">
              Rating: 4
            </span>
            </div>
          </div>
          <%= link_to 'Details', article, :class => 'detail_link' %>
        </div>
      </div>

    </div>
<% end %>
