<% title @article.title %>

<%= content_for :js_css_include do %>

    <%= javascript_include_tag 'thickbox' %>
    <%= javascript_include_tag 'jquery.validate' %>
    <%= stylesheet_link_tag 'thickbox' %>

<% end %>
<%= content_for :over_mid_content do %>
    <div class="redhead_row">
      <div class="subLink">
        <ul>
          <% if can_edit?(@article) %>
              <li>
                <%= link_to t('general.label.edit'), edit_article_path(@article) %>
              </li>
          <% end %>
          <li>
            <%= link_to t('general.label.message_to_authority'), "#TB_inline?dd=4&width=400&height=400&inlineId=send_message_to_owner_lb&modal=true", :class => 'thickbox' %>
          </li>

          <li>
            <%= link_to t('general.label.tell_your_friends'), "#TB_inline?dd=4&width=400&height=300&inlineId=send_to_friend_lb&modal=true", :class => 'thickbox' %>
          </li>

          <li>
            <%= link_to t('helpers.submit.print'), print_article_path(@article) %>
          </li>
          <li id="saved_item_li">
            <%= render :partial => 'shared_partials/saved_item', :locals => {:savable => @article} %>
          </li>
        </ul>
      </div>
    </div>
<% end %>

<div class="pageHead">
  <%= @article.title %>
</div>

<div class="item_details">

  <div class="itemDetail pad_TL0">
    <%= raw textilize @article.detail %>
  </div>
  <div class="itemDetail">
    <fb:like href="<%= article_url(:id => @article.id, :host => request.host, :port => request.port) %>" layout="standard" show_faces="true" width="400" action="like" font="segoe ui" colorscheme="light"/>
  </div>

  <%= render :partial => 'shared_partials/detail_page_comment', :locals => {:item => @article, :rating => true} %>

</div>

<div id="send_message_to_owner_lb" style="display: none">
  <%= image_tag 'close.jpeg', :class=> 'close_lb', :id => 'close_send_message_to_owner_lb', :title => 'close' %>
  <%= render :partial => 'messages/ajax_form', :locals => {:message_target => @article} %>

</div>

<%= render :partial => 'shared_partials/send_to_friends', :locals => {:item => 'article', :item_id => @article.id} %>
<script type="text/javascript ">

    $(document).ready(function() {

    });


</script>