<h1>Listing pedigrees</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pedigrees.each do |pedigree| %>
  <tr>
    <td><%= pedigree.name %></td>
    <td><%= pedigree.active %></td>
    <td><%= link_to 'Show', pedigree %></td>
    <td><%= link_to 'Edit', edit_pedigree_path(pedigree) %></td>
    <td><%= link_to 'Destroy', pedigree, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pedigree', new_pedigree_path %>
