<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pedigree.name %>
</p>

<p>
  <b>Active:</b>
  <%= @pedigree.active %>
</p>


<%= link_to 'Edit', edit_pedigree_path(@pedigree) %> |
<%= link_to 'Back', pedigrees_path %>
