<% title 'My Ads' %>
<%= content_for :over_mid_content do %>
  <div class="redhead_row">
    <h2>
      My Classified Ads
    </h2>
  </div>
<% end %>
<div class="ad_business">
  <%= link_to 'Place an Ad', place_an_ad_path %>
</div>
<div class="firms_row">
  <div class="firms_head">
    Classified Ads
  </div>
  <% @packages.each do |ad| %>
    <div class="f_bor spot">
      <div class="f_inner_bor">
        <%= image_tag ad.main_image_url(:thumb), :width => 68, :height => 55 %>
      </div>
      <strong><%= ad.category %></strong>
      <h3>
        <%= link_to ad.title, ad_path(ad) %>
      </h3>

      <%= truncate(sanitize(ad.description).gsub(/<\/?[^>]*>/, "") ,:length => 150)  %>
      <div class="my_links">
        <%= link_to 'Destroy', ad, :confirm => 'Are you sure?', :method => :delete %>
        <%= link_to 'Edit', edit_ad_path(ad) %>

      </div>
    </div>
  <% end %>
  <% if @packages.total_pages > 1 %>
    <div class="f_bor pagination">
      <%= will_paginate  @packages %>
    </div>
  <% end %>
  <div class="firma_bottom"></div>
</div>

<style type="text/css">
  .ad_business {
    margin-top: 20px;
    margin-right: 57px;
  }
  
</style>


