<div class="dashboard_content_header fl search_header">
  <div class="dashboard_content_header_content">
    <div class="fl">
      <%= t('general.label.my_articles') %>
    </div>
    <div class="add_link">
      <%= link_to t('general.label.add_item', :item => t('activerecord.models.article')), new_article_path %>
    </div>
  </div>

</div>
<div class="dashboard_content_item fl">
  <% if @articles.size > 0 %>
      <% @articles.each do |article| %>
          <div class=" <%= 'inactive' unless article.active %> dc_item fl ">
            <div class="dc_item_image fl">
              <%= image_tag article.main_image_url(:thumb) %>
            </div>
            <div class="dc_item_text fl">
              <div class="title">
                <%= link_to article.title, article %>
              </div>

              <div class="desc">
                <%= truncate strip_tags(article.detail), :length => 170 %>
              </div>

            </div>
            <div class="dc_item_links fl">
              <%= link_to t('general.label.details'), article %>
              <%= link_to t('general.label.edit'), edit_article_path(article) %>
              <%= link_to t('helpers.delete'), article, :confirm => 'You are going to delete an article. Are you sure?', :method => :delete %>
            </div>
          </div>
      <% end %>
  <% else %>
      <h3>
        <%= t('general.label.no_item_found', :item => t('activerecord.models.article')) %>
      </h3>
  <% end %>
</div>