<div class="dashboard_content_header fl search_header">
  <div class="dashboard_content_header_content">
    My Created Clubs
    <div class="add_link">
      <%= link_to '+Add Club', new_tour_club_path %>
    </div>
  </div>

</div>
<div class="dashboard_content_item fl">
  <% if current_user.created_clubs.size > 0 %>
      <% current_user.created_clubs.each do |club| %>
          <div class=" <%= 'inactive' unless club.active %> dc_item fl ">
            <div class="dc_item_image fl">
              <%= image_tag club.logo.url %>
            </div>
            <div class="dc_item_text fl">
              <div class="title">
                <%= link_to club.name, club %>
              </div>

              <div class="desc">
                <%= truncate strip_tags(club.description), :length => 170 %>
              </div>

            </div>
            <div class="dc_item_links fl">
              <%= link_to 'Show', club %>
              <%= link_to 'Edit', edit_tour_club_path(club) %>
              <%= link_to 'Delete', '#' %>
            </div>
          </div>
      <% end %>
  <% else %>
      <h3>
        No Tour Club Created
      </h3>
  <% end %>
</div>