<% title 'Dashboard' %>
<div class="dashboard_content_top">
  <div class="fl dashboard_content_top_left">
    <h2>
      Dashboard
    </h2>
  </div>
  <div class="fl dashboard_content_top_right">
    <%= render :partial=> 'layouts/my_account_links' %>
  </div>
</div>

<div class="dashboard_content_header fl search_header">
  <div class="dashboard_content_header_content">
    Messages
  </div>

</div>
<div class="dashboard_content_item fl">
  <div class="msg_desc_info">You have
    <%= link_to pluralize(@unread_messages.size, 'message'), inbox_path %> unread
    <br/>
    <%= link_to 'Inbox', inbox_path %>
    <br/>
    <%= link_to 'Outbox', outbox_path %>
  </div>
</div>

<div class="dashboard_content_header fl search_header">
  <div class="dashboard_content_header_content">
    <div class="fl">My Hotels</div>
    <div class="add_link">
      <%= link_to '+Add Hotel', new_hotel_path %>
    </div>
  </div>

</div>
<div class="dashboard_content_item fl">
  <% if @hotels.size > 0 %>
      <% @hotels.each do |hotel| %>
          <div class=" <%= 'inactive' unless hotel.active %> dc_item fl ">
            <div class="dc_item_image fl">
              <%= image_tag hotel.main_image_url(:thumb) %>
            </div>
            <div class="dc_item_text fl">
              <div class="title">
                <%= link_to hotel.name, hotel %>
              </div>

              <div class="desc">
                <%= truncate strip_tags(hotel.description), :length => 170 %>
              </div>

            </div>
            <div class="dc_item_links fl">
              <%= link_to 'Show', hotel %>
              <%= link_to 'Edit', edit_hotel_path(hotel) %>
              <%= link_to 'Delete', '#' %>
              <%= link_to 'Add Room', new_room_path(:hotel_id => hotel) %>
            </div>
          </div>
      <% end %>
  <% else %>
      <h3>
        No Hotel Posted
      </h3>
  <% end %>
</div>
