<% title 'My Spot' %>
<%= content_for :over_mid_content do %>
  <div class="redhead_row">
    <h2>
      My Firm/Stable, Ad Shows, or Organization
    </h2>
  </div>
<% end %>
<div class="ad_business">
  <%= link_to 'Ad new', new_spot_path %>
</div>
<div class="firms_row">
  <div class="firms_head">
    My Firm/Stable, Ad Shows, or Organization
  </div>
  <% @spots.each do |spot| %>
    <div class="f_bor spot">
      <div class="f_inner_bor">
        <%= image_tag spot.main_image_url(:thumb), :width => 68, :height => 55 %>
      </div>
      <strong><%= spot.category %></strong>
      <h3>
        <%= link_to spot.title, spot_path(spot) %>
      </h3>

      <%= truncate(sanitize(spot.detail ).gsub(/<\/?[^>]*>/, "") ,:length => 150)  %>
      <div class="my_links">
        <%= link_to 'Destroy', spot, :confirm => 'Are you sure?', :method => :delete %>
        <%= link_to 'Edit', edit_spot_path(spot) %>

      </div>
    </div>
  <% end %>
  <% if @spots.total_pages > 1 %>
    <div class="f_bor pagination">
      <%= will_paginate  @spots %>
    </div>
  <% end %>
  <div class="firma_bottom"></div>
</div>

<style type="text/css">
  .ad_business {
    margin-top: 20px;
    margin-right: 57px;
  }
  .firms_row {
    margin-left: 45px;
  }
</style>


