<div class="dashboard_content_header fl search_header">
  <div class="dashboard_content_header_content">
    <div class="fl">
      <%= t('general.label.my_hotels') %>
    </div>
    <div class="add_link">
      <%= link_to t('general.label.add_item', :item => t('activerecord.models.hotel')), new_hotel_path %>
    </div>
  </div>

</div>
<div class="dashboard_content_item fl">
  <% if @hotels.size > 0 %>
      <% @hotels.each do |hotel| %>
          <div class=" <%= 'inactive' unless hotel.active %> dc_item fl ">
            <div class="dc_item_image fl">
              <%= image_tag hotel.main_image_url(:thumb) %>
            </div>
            <div class="dc_item_text fl">
              <div class="title">
                <%= link_to hotel.name, hotel %>
              </div>

              <div class="desc">
                <%= truncate strip_tags(hotel.description), :length => 170 %>
              </div>

            </div>
            <div class="dc_item_links fl">
              <%= link_to t('general.label.details'), hotel %>
              <%= link_to t('general.label.edit'), edit_hotel_path(hotel) %>
              <%= link_to t('helpers.delete'), hotel, :confirm => 'You are going to delete a hotel. Are you sure?', :method => :delete %>
              <%= link_to t('general.label.add_item', :item => t('activerecord.models.room')), new_room_path(:hotel_id => hotel) %>
            </div>
          </div>
      <% end %>
  <% else %>
      <h3>
        <%= t('general.label.no_item_found', :item => t('activerecord.models.hotel') ) %>
      </h3>
  <% end %>
</div>