<% title 'Inbox' %>

<%= content_for :over_mid_content do %>

<% end %>


<div class="mtop15 clear">
  <h1>Welcome ( <%= current_user.name %> )</h1>
</div>

<div class="dashboard_content_header fl search_header">
  <div class="dashboard_content_header_content">
    <div class="fl">Inbox</div>
  </div>

</div>
<div class="dashboard_content_item fl">
  <% if @messages.size > 0 %>
      <% @messages.each do |message| %>
          <%= link_to message_path(message) do %>
              <div class="message <%= cycle 'evenRow', 'oddRow' %> <%= 'unread' unless message.read? %>">
                <div class="sent_by">
                  <%= message.name %>[<%= message.email %>]
                </div>
                <div class="title">
                  <%= truncate(message.title, :length => 100) %>
                </div>

                <div class="when">
                  <%= distance_of_time_in_words(message.created_at, Time.now) %> ago
                </div>
              </div>
          <% end %>
      <% end %>
  <% else %>
      <h3>
        No messages
      </h3>
  <% end %>
</div>


<style type="text/css">
    .message .sent_by {
        width: 190px;
        float: left
    }

    .message .title {
        width: 316px;
        float: left;
        margin: 0px 5px;
    }

    .message .when {
        width: 150px;
        float: left
    }

    .unread {
        border: 1px dashed #0000cc;
    }

    .unread .title {
        width: 314px
    }
</style>


