<div class="dashboard_content_header fl search_header">
  <div class="dashboard_content_header_content">
    <div class="fl">
      <%= t('general.label.my_listed_packages') %>
    </div>
    <div class="add_link">
      <%= link_to t('general.label.add_item', :item => t('activerecord.models.package')), new_package_path %>
    </div>
  </div>

</div>
<div class="dashboard_content_item fl">
  <% if @packages.size > 0 %>
      <% @packages.each do |package| %>
          <div class=" <%= 'inactive' unless package.active %> dc_item fl ">
            <div class="dc_item_image fl">
              <%= image_tag package.main_image_url(:thumb) %>
            </div>
            <div class="dc_item_text fl">
              <div class="title">
                <%= link_to package.title, package %>
              </div>

              <div class="desc">
                <%= truncate strip_tags(package.description), :length => 170 %>
              </div>

            </div>
            <div class="dc_item_links fl">
              <%= link_to t('general.label.details'), package %>
              <%= link_to t('general.label.edit'), edit_package_path(package) %>
              <%= link_to t('helpers.delete'), '#' %>
            </div>
          </div>
      <% end %>
  <% else %>
      <h3>
        <%= t('general.label.no_item_found', :item => t('activerecord.models.package')) %>
      </h3>
  <% end %>
</div>