<div class="dashboard_content_header fl search_header">
  <div class="dashboard_content_header_content">
    My Packages
    <div class="add_link">
      <%= link_to '+Add Package', new_package_path %>
    </div>
  </div>

</div>
<div class="dashboard_content_item fl">
  <% if @packages.size > 0 %>
      <% @packages.each do |package| %>
          <div class=" <%= 'inactive' unless package.active %> dc_item fl ">
            <div class="dc_item_image fl">
              <%= image_tag package.main_image_url(:thumb) %>
            </div>
            <div class="dc_item_text fl">
              <div class="title">
                <%= link_to package.title, package %>
              </div>

              <div class="desc">
                <%= truncate strip_tags(package.description), :length => 170 %>
              </div>

            </div>
            <div class="dc_item_links fl">
              <%= link_to 'Show', package %>
              <%= link_to 'Edit', edit_package_path(package) %>
              <%= link_to 'Delete', '#' %>
            </div>
          </div>
      <% end %>
  <% else %>
      <h3>
        No Package Posted
      </h3>
  <% end %>
</div>