<% title 'My Product/trailer for sale' %>
<%= content_for :over_mid_content do %>
  <div class="redhead_row">
    <h2>
      My Product/trailer for sale
    </h2>
  </div>
<% end %>
<div class="ad_business">
  <%= link_to 'Ad a Product', new_classified_path %>
</div>
<div class="firms_row">
  <div class="firms_head">
   Product/trailer for sale
  </div>
  <% @classifieds.each do |classified| %>
    <div class="f_bor spot">
      <div class="f_inner_bor">
        <%= image_tag classified.main_image_url(:thumb), :width => 68, :height => 55 %>
      </div>
      <strong><%= classified.category %></strong>
      <h3>
        <%= link_to classified.title, classified_path(classified) %>
      </h3>

      <%= truncate(sanitize(classified.detail ).gsub(/<\/?[^>]*>/, "") ,:length => 150)  %>
      <div class="my_links">
        <%= link_to 'Destroy', classified, :confirm => 'Are you sure?', :method => :delete %>
        <%= link_to 'Edit', edit_classified_path(classified) %>

      </div>
    </div>
  <% end %>
  <% if @classifieds.total_pages > 1 %>
    <div class="f_bor pagination">
      <%= will_paginate  @classifieds %>
    </div>
  <% end %>
  <div class="firma_bottom"></div>
</div>

<style type="text/css">
  .ad_business {
    margin-top: 20px;
    margin-right: 57px;
  }
  .firms_row {
    margin-left: 45px;
  }
</style>


