<%= form_tag '', :method => :get do %>
    <label class="fl" style="width:60px">
      <%= t('activerecord.models.hotel') %>
    </label>
    <%= select_tag :hotel_id, options_from_collection_for_select(current_user.hotels, :id, :name, params[:hotel_id]), :include_blank => '--All--', :class => 'fl' %>
    <%= submit_tag t('helpers.submit.search'), :class=> 'search_button', :style => 'margin-top:3px' %>
    <span class="search_button_right" style="margin-top:3px "> </span>
<% end %>
<div class="dashboard_content_header fl search_header">
  <div class="dashboard_content_header_content">
    <div class="fl">
      <%= t('general.label.my_hotel_rooms') %>
    </div>
    <div class="add_link">
      <%= link_to t('general.label.add_item', :item => t('activerecord.models.room')), new_room_path %>
    </div>
  </div>

</div>
<div class="dashboard_content_item fl">
  <% if @rooms.size > 0 %>
      <% @rooms.each do |room| %>
          <div class=" <%= 'inactive' unless room.active %> dc_item fl ">
            <div class="dc_item_image fl">
              <%= image_tag room.main_image_url(:thumb) %>
            </div>
            <div class="dc_item_text fl">
              <div class="title">
                <%= link_to room.name, room %>
              </div>

              <div class="desc">
                <%= truncate strip_tags(room.description), :length => 170 %>
              </div>

            </div>
            <div class="dc_item_links fl">
              <%= link_to t('general.label.details'), room %>
              <%= link_to t('general.label.edit'), edit_room_path(room) %>
              <%= link_to t('helpers.delete'), '#' %>
            </div>
          </div>
      <% end %>
  <% else %>
      <h3>
        <%= t('general.label.no_item_found', :item => t('activerecord.models.room')) %>
      </h3>
  <% end %>
</div>