<div class="dashboard_content_header fl search_header">
  <div class="dashboard_content_header_content">
    <div class="fl">
      <%= t('general.label.my_saved_item') %>
    </div>
    <div class="add_link">

    </div>
  </div>

</div>
<div class="dashboard_content_item fl">
  <% if @items.size > 0 %>
     <% @items.each do |item| %>
          <div class="dc_item fl ">
            <div class="dc_item_image fl">
              <%= image_tag item.savable.main_image_url(:thumb), :width => 68, :height => 55 %>
            </div>
            <div class="dc_item_text fl">
              <div class="title">
              <strong><%= item.savable_type %></strong>
              </div>

              <div class="desc">
                <%= link_to item.savable.title, "/#{item.savable_type.downcase}s/#{item.savable_id}" %>
              </div>

            </div>
            <div class="dc_item_links fl">
              <%= link_to  t('general.label.remove'), "/users/remove_saved_item?sl_id=#{item.id}", :confirm => 'Are you sure?', :method => :post %>
            </div>
          </div>
      <% end %>
  <% else %>
      <h3>
        <%#= t('general.label.no_item_found', :item => t('activerecord.models.article')) %>
      </h3>
  <% end %>
</div>

