<div class="pageHead">
  Profile of <%= @user.name %>
</div>

<fieldset class="moderator">
  <legend>I am moderator of</legend>

  <% @user.created_clubs.each_with_index do |club, i| %>

      <%= link_to club do %>
          <div class="user_box_item <%= 'right_margin_zero' if i%3 == 2 %>">
            <%= club.name %>
          </div>
      <% end %>
  <% end %>
</fieldset>
<fieldset class="moderator">
  <legend>I am member of</legend>

  <% @user.associated_tour_clubs.each_with_index do |club, i| %>

      <%= link_to club do %>
          <div class="user_box_item <%= 'right_margin_zero' if i%3 == 2 %>">
            <%= club.name %>
          </div>
      <% end %>
  <% end %>
</fieldset>

