<div class="dashboard_content_header fl search_header">
  <div class="dashboard_content_header_content">
    <div class="fl">
      <%= t('general.label.my_listed_spots') %>
    </div>
    <div class="add_link">
      <%= link_to t('general.label.add_item', :item => t('activerecord.models.spot')), new_spot_path %>
    </div>
  </div>

</div>
<div class="dashboard_content_item fl">
  <% if @spots.size > 0 %>
      <% @spots.each do |spot| %>
          <div class=" <%= 'inactive' unless spot.active %> dc_item fl ">
            <div class="dc_item_image fl">
              <%= image_tag spot.main_image_url(:thumb) %>
            </div>
            <div class="dc_item_text fl">
              <div class="title">
                <%= link_to spot.name, spot %>
              </div>

              <div class="desc">
                <%= truncate strip_tags(spot.description), :length => 170 %>
              </div>

            </div>
            <div class="dc_item_links fl">
              <%= link_to t('general.label.details'), spot %>
              <%= link_to t('general.label.edit'), edit_spot_path(spot) %>
              <%= link_to t('helpers.delete'), '#' %>
            </div>
          </div>
      <% end %>
  <% else %>
      <h3>
        <%= t('general.label.no_item_found', :item => t('activerecord.models.spot')) %>
      </h3>
  <% end %>
</div>