<div class="dashboard_content_header fl search_header">
  <div class="dashboard_content_header_content">
    My Transports
    <div class="add_link">
      <%= link_to '+Add Transport', new_transport_path %>
    </div>
  </div>

</div>
<div class="dashboard_content_item fl">
  <% if @transports.size > 0 %>
      <% @transports.each do |transport| %>
          <div class=" <%= 'inactive' unless transport.active %> dc_item fl ">
            <div class="dc_item_image fl">
              <%= image_tag transport.main_image_url(:thumb) %>
            </div>
            <div class="dc_item_text fl">
              <div class="title">
                <%= link_to transport.name, transport %>
              </div>

              <div class="desc">
                <%= truncate strip_tags(transport.description), :length => 170 %>
              </div>

            </div>
            <div class="dc_item_links fl">
              <%= link_to 'Show', transport %>
              <%= link_to 'Edit', edit_transport_path(transport) %>
              <%= link_to 'Delete', '#' %>
            </div>
          </div>
      <% end %>
  <% else %>
      <h3>
        No Transport Posted
      </h3>
  <% end %>
</div>