<h1 class="admin_header">Listing divisions</h1>
<div class="admin_new_link"><%= link_to 'New Division', new_division_path %></div>

<div class="msg_desc_info_big">

  <div class="f_bor evenRow ">
    <div class="fl w_200 pad_lr_5">
      <strong>Name</strong>
    </div>

    <div class="fl w_130 pad_lr_5">
      <strong></strong>
    </div>
    <div class="admin_links">

    </div>
  </div>

  <% @divisions.each do |division| %>

      <div class="f_bor <%= cycle('oddROw', 'evenRow') %> ">
        <div class="fl w_200 pad_lr_5">
          <%= division.name %> &nbsp;
        </div>

        <div class="fl w_130 pad_lr_5">
          &nbsp;
        </div>


        <div class="fl admin_links">
          <span><%= link_to 'Show', division %></span>
          <span><%= link_to 'Edit', edit_division_path(division) %></span>
          <span><%= link_to 'Destroy', division, :confirm => 'Are you sure?', :method => :delete %></span>
        </div>
      </div>

  <% end %>

</div>

