<%= content_for :over_mid_content do %>
  <div class="redhead_row">
    <h2>Checkout</h2>
  </div>
<% end %>

<div class="ad_info">
  <h1>Ad Information</h1>
  <div class="ad_info_top"></div>
  <div class="ad_info_mid">
    <div class="ad_info_desc">
      <img src="img/ad_info_pic.jpg" alt="">
      <p>Sam I am</p>
      <a href="#">Edit</a>
      <% for line_item in @cart.line_items %>

        <div class="ad_f"><%= h line_item.purchasable.title %></div>
        <div class="ad_p"><%= number_to_currency(line_item.full_price) %></div>
        <a href="#" class="ad_remove">Remove </a>
      <% end %>

      <div class="ad_f">Total</div>
      <div class="ad_p"><%= number_to_currency @cart.total_price %></div>
    </div>
  </div>
  <div class="ad_info_bot"></div>
</div>

<div class="bill_info">
  <h1>Billing Information</h1>


  <div class="b_info_top"></div>
  <div class="b_info_mid">
    <div class="bDescRow">
      <%= render '/orders/form' %>

    </div>
  </div>
  <div class="b_info_bot"></div>
</div>
