<% title @search_title || 'Tour Operator list' %>

<div class="pageHead">
  <%= t('activerecord.models.tour_operator') %>
  <div class="pageHeadOptions">
   <!-- <b>Sort by: </b> <%= link_to 'Price', '#' %>-->
  </div>
</div>

<% @tour_operators.each do |tour_operator| %>
    <div class="listItem">
      <div class="fl listItemLogo">
        <%= image_tag tour_operator.logo.url() %>
      </div>

      <div class="fl listItemDesc">
        <div class="fl hotel_desc_info">
          <div class="fl title">
            <%= link_to truncate(tour_operator.name, :length => 50), tour_operator %>
            <h4><%= truncate(tour_operator.address, :length => 70) %></h4>
          </div>
          <div class="fl description">
            <%= truncate(sanitize(tour_operator.description).gsub(/<\/?[^>]*>/, ""), :length => 300) %>
          </div>

        </div>
        <div class="fl price_n_button">
          <div class="fl">
            <div class="fl price">

            </div>

          </div>
         <%= link_to t('general.label.details'), tour_operator, :class => 'detail_link' %>
        </div>
      </div>

    </div>
<% end %>








