<% title @search_title || 'Tour Operator list' %>

<div class="pageHead">
  Tour Operators
  <div class="pageHeadOptions">
    <b>Sort by: </b> <%= link_to 'Price', '#' %>
  </div>
</div>

<% @tour_operators.each do |tour_operator| %>
    <div class="listItem">
      <div class="fl listItemLogo">
        <%= image_tag tour_operator.logo.url() %>
      </div>

      <div class="fl listItemDesc">
        <div class="fl hotel_desc_info">
          <div class="fl title">
            <%= link_to truncate(tour_operator.name, :length => 50), tour_operator %>
            <h4><%= tour_operator.address %></h4>
          </div>
          <div class="fl description">
            <%= truncate(sanitize(tour_operator.description*7).gsub(/<\/?[^>]*>/, ""), :length => 350) %>
          </div>

        </div>
        <div class="fl price_n_button">
          <div class="fl">
            <div class="fl price">

            </div>
            <div class="fl rating">
              Like: 1000
            <span style="float:right;">
              Rating: 4
            </span>
            </div>
          </div>
          <%= link_to 'Details', tour_operator, :class => 'detail_link' %>
          <%#= link_to 'Book This', tour_operator, :class => 'book_link' %>
        </div>
      </div>

    </div>
<% end %>








