<div class="pageHead">
  <%= @tour_operator.name %>
</div>


<div class=" item_details ">

  <div class="itemDetail pad_TL0"><%= @tour_operator.description %></div>


  <div class="good_item_head">
    <%= t('general.label.services') %>
  </div>
  <div class="itemDetail">
    <% @tour_operator.services.each do |service| %>
        <div class="eventTitle clear"><b><%= service.title %></b></div>
        <div class="eventDetail clear"><%= raw textilize service.detail %></div>
    <% end %>
  </div>

  <div class="good_item_head">
     <%= t('general.label.policies') %>
  </div>
  <div class="itemDetail">
    <% @tour_operator.policies.each do |policy| %>
        <div class="eventTitle clear"><b><%= policy.title %></b></div>
        <div class="eventDetail clear"><%= policy.detail %></div>
    <% end %>
  </div>

  <div class="good_item_head">
    <%= t('general.label.contacts') %>
  </div>
  <div class="itemDetail">
    <% @tour_operator.contacts.each do |contact| %>
        <div class=" clear"><b><%= contact.name %></b></div>
        <div class="eventDetail clear"><%= t('general.label.phone') %>: <%= contact.phone %></div>
    <% end %>
  </div>


</div>
