<% title localized_item_header(@tour_club) %>
<div class="pageHead">
  <%= localized_item_header(@tour_club) %>
</div>
<%= content_for :js_css_include do %>
    <%= javascript_include_tag 'jquery.form', 'jquery.validate', 'bangla.input', 'bangla_key_maps', 'tiny_redcloth', 'thickbox', 'jquery-fieldselection', 'jquery.caret.min' %>
    <%= stylesheet_link_tag 'jquery-ui', 'autocomplete', 'thickbox' %>
<% end %>
<div class="item_form">
  <%= form_for(@tour_club, :html=> {:multipart => true, :id=> 'tour_club_form'}) do |f| %>
      <% @builder = f %>
      <%= error_messages_for(@tour_club) %>

      <div class="form_summary" id="summary"></div>


      <div class="item_form_row">
        <div class="label">
          <%= t('general.label.name') %>
          <span>*</span>
        </div>
        <%= f.text_field :name %>
      </div>
      <div class="item_form_row">
        <div class="label">
          <%= t('general.label.slogan') %>
        </div>
        <%= f.text_field :slogan %>
      </div>

      <div class="item_form_row">
        <div class="label">
          <%= t('general.label.logo') %>

        </div>
        <%= f.file_field :logo %>
      </div>


      <div class="item_form_row">
        <div class="label">
          <%= t('general.label.description') %>

        </div>
        <%= f.text_area :description, :rows => 20, :cols => 80 %>
      </div>

      <div class="submit_btn">
        <%= f.submit :class => 'search_button', :style => 'width:140px' %>
        <span class="search_button_right"> </span>
      </div>

  <% end %>
</div>

<style type="text/css">


</style>
<script type="text/javascript">
    $(document).ready(function() {

        $("#tour_club_form").validate({
            errorPlacement: function(error, element) {
                error.remove();
            },


            rules: {
                'tour_club[name]': "required",
                'tour_club[description]' : "required"

            },
            messages: {
                comment: "Please enter a comment."
            }
        });

    });


</script>
