<% title @tour_club.name %>
<%= content_for :js_css_include do %>

    <%= javascript_include_tag 'thickbox' %>
    <%= javascript_include_tag 'jquery.validate' %>
    <%= stylesheet_link_tag 'thickbox' %>

<% end %>
<%= content_for :over_mid_content do %>
    <div class="redhead_row">
      <div class="subLink">
        <ul>
          <li>
            <%= link_to t('general.label.message_to_authority'), "#TB_inline?dd=4&width=400&height=400&inlineId=send_message_to_owner_lb&modal=true", :class => 'thickbox' %>
          </li>

          <li>
            <%= link_to t('general.label.tell_your_friends'), "#TB_inline?dd=4&width=400&height=300&inlineId=send_to_friend_lb&modal=true", :class => 'thickbox' %>
          </li>

          <li>
            <%= link_to t('helpers.submit.print'), print_tour_club_path(@tour_club) %>
          </li>
          <li id="saved_item_li">
            <%= render :partial => 'shared_partials/saved_item', :locals => {:savable => @tour_club} %>
          </li>
        </ul>
      </div>
    </div>
<% end %>
<div class="pageHead">
  <%= @tour_club.name %>
</div>

<div class="item_details">
  <div class="eventDetail clear">
    <div class="fl slogan">
      <%= @tour_club.slogan  %>
    </div>
    <div class="fl created_by">
      <label>
        <%= t 'general.label.created_by' %>
      </label>
      &nbsp;
      <%= link_to @tour_club.user.full_name, @tour_club.user.profile, :target => '_blank' %>
    </div>

  </div>

  <div class="itemDetail pad_TL0">
    <%= @tour_club.description %>
  </div>
  <div class="eventDetail clear">
    <fb:like href="<%= tour_club_url(:id => @tour_club.id, :host => request.host, :port => request.port) %>" layout="standard" show_faces="true" width="400" action="like" font="segoe ui" colorscheme="light"/>
  </div>

  <div class="eventDetail clear" id="join_leave_container">
    <div class="links">
      <%= raw join_or_leave_club(@tour_club) %>
    </div>

    <%= image_tag 'loadingAnimation.gif', :style => 'display:none' %>
  </div>
  <div class="good_item_head" style="background:none; padding: 0; color:#494C51">
    <%= t('general.label.gossip_here') %>
  </div>
  <div class="commentForm">
    <%= render :partial => 'comment_form' %>
  </div>
  <div class="itemDetail" id="item_comments" style="padding-left:0; padding-top:0">
    <%= render :partial => 'comment', :collection => @tour_club.approved_comments %>

  </div>

</div>

<div id="send_message_to_owner_lb" style="display: none">
  <%= image_tag 'close.jpeg', :class=> 'close_lb', :id => 'close_send_message_to_owner_lb', :title => 'close' %>
  <%= render :partial => 'messages/ajax_form', :locals => {:message_target => @tour_club} %>

</div>


<%= render :partial => 'shared_partials/send_to_friends', :locals => {:item => 'tour_club', :item_id => @tour_club.id} %>
<style type="text/css">
    .links .search_button {
        height: 23px;
        margin-left: 0px;
    }

    .item_form_row textarea {
        -moz-border-radius: 5px;
        border: 1px solid #CCCCCC;
        height: 50px;
        padding: 2px 5px;
        width: 590px;
        float: left;
    }

    div.submit_btn {
        margin-top: 3px;
    }

    .comment, .comment h3 {
        color: #494C51;
    }

    div.submit_btn .search_button {
        margin-left: 10px;
    }

    .comment .avatar {
        float: left;
        width: 80px;
        height: 60px;
    }

    .comment .commentContent {
        float: left;
        width: 596px
    }

    .comment .commentContent .time {
        float: left;
        width: 596px;
        color: #999999;
    }

    .avatar img {
        margin-top: 5px;
    }
        .slogan {
            width:500px;
            margin-right:10px;
        }

        .created_by {
            width:192px;
            text-align:right;
        }
</style>
<script type="text/javascript">
    joinOrLeave = function() {
        $('#join_leave_container .links a').click(function() {
            $('#join_leave_container .links a').hide();
            $('#join_leave_container  img').show();
            $.ajax({
                url: '/tour_clubs/' + $(this).attr('club_id') + '/join_leave',
                type: 'post',
                dataType: 'script',
                success: function(results) {
                    $('#join_leave_container  img').hide();
                    $('#join_leave_container .links a').show();
                    joinOrLeave();
                }
            });
        });
    }
    $(document).ready(function() {
        joinOrLeave();
    });
</script>
