<h1 class="admin_header">Listing districts</h1>
<div class="admin_new_link"><%= link_to 'New District', new_district_path %></div>

<div class="msg_desc_info_big">

  <div class="f_bor evenRow ">
    <div class="fl w_200 pad_lr_5">
      <strong><%= t('general.label.name')%></strong>
    </div>
    <div class="fl w_130 pad_lr_5">
      <strong>Division</strong>
    </div>

    <div class="admin_links">

    </div>
  </div>

  <% @districts.each do |district| %>

      <div class="f_bor <%= cycle('oddROw', 'evenRow') %> ">
        <div class="fl w_200 pad_lr_5">
          <%= district.name %> &nbsp;
        </div>

        <div class="fl w_130 pad_lr_5">
          <%= district.division.name if district.division %>&nbsp;
        </div>

        <div class="fl admin_links">
          <span><%= link_to 'Show', district %></span>
          <span><%= link_to 'Edit', edit_district_path(district) %></span>
          <span><%= link_to 'Destroy', district, :confirm => 'Are you sure?', :method => :delete %></span>
        </div>
      </div>

  <% end %>

</div>

