<% title @search_title %>
<%= content_for :over_mid_content do %>
  <div class="redhead_row">
    <h2>
      Classifieds
    </h2>
  </div>
<% end %>

<div class="ad_business">
  <%= link_to '+Add Your '+@search_title, new_classified_path  %>
</div>

<div class="firms_row">
  <div class="firms_head">
    <%= @search_title %>
  </div>
  <% @classifieds.each do |classified| %>
    <div class="f_bor spot">
      <div class="f_inner_bor">
        <%= image_tag classified.main_image_url(:thumb), :width => 68, :height => 55 %>
      </div>
      <strong><%= classified.category %></strong>
      <h3>
        <%= link_to classified.name, classified_path(classified) %>
      </h3>

      <%= truncate(sanitize(classified.detail).gsub(/<\/?[^>]*>/, "") ,:length => 150)  %>

    </div>
  <% end %>
  <% if @classifieds.total_pages > 1 %>
    <div class="f_bor pagination">
      <%= will_paginate  @classifieds %>
    </div>
  <% end %>
  <div class="firma_bottom"></div>
</div>




