Hi,<br>
An  Ownership request come for the following item:
<br>
<%= link_to 'Click here', @link %>
<br/>
<p>
  Sender:
  <table cellpadding="3" cellspacing="3">
    <tr>
      <td>
        Name
      </td>
      <td>
        <%= @ownership_request.name %>
      </td>
    </tr>

      <td>
        Company
      </td>
      <td>
        <%= @ownership_request.company %>
      </td>
    </tr>
    </tr>
      <td>
        Email
      </td>
      <td>
        <%= @ownership_request.email %>
      </td>
    </tr>
    </tr>
      <td>
        Phone
      </td>
      <td>
        <%= @ownership_request.phone %>
      </td>
    </tr>
    </tr>
      <td>
        Message
      </td>
      <td>
        <%= @ownership_request.message %>
      </td>
    </tr>

  </table>
</p>
<br/>

