<h1 class="admin_header">Listing Feedbacks</h1>
<div class="admin_new_link"><%#= link_to 'New Article', new_feedback_path(:f => true) %></div>

<div class="msg_desc_info_big">

  <div class="f_bor evenRow ">
    <div class="fl w_300 pad_lr_5">
      <strong><%= t('general.label.email')%></strong>
    </div>
    <div class="fl w_130 pad_lr_5">
      <strong>Subject</strong>
    </div>

    <div class="admin_links">

    </div>
  </div>

  <% @feedbacks.each do |feedback| %>

      <div class="f_bor <%= cycle('oddROw', 'evenRow') %> ">
        <div class="fl w_300 pad_lr_5">
          <%= feedback.email %>
        </div>

        <div class="fl w_130 pad_lr_5">
          <%= truncate(feedback.subject, :length => 100) %>
        </div>


        <div class="fl admin_links">
          <span><%= link_to 'Show', feedback %></span>
          <span><%= link_to 'Edit', edit_feedback_path(feedback) %></span>
          <span><%= link_to 'Destroy', feedback, :confirm => 'Are you sure?', :method => :delete %></span>
        </div>
      </div>

  <% end %>

</div>