<% title @search_title %>
<%= content_for :over_mid_content do %>
  <div class="redhead_row">
    <h2>
      Rooms
    </h2>
  </div>
<% end %>

<div class="ad_business">
  <%= link_to '+Add Your '+@search_title, new_room_path  %>
</div>

<div class="firms_row">
  <div class="firms_head">
    <%= @search_title %>
  </div>
  <% @rooms.each do |room| %>
    <div class="f_bor spot">
      <div class="f_inner_bor">
        <%= image_tag room.main_image_url(:thumb), :width => 68, :height => 55 %>
      </div>
      <strong><%= room.category %></strong>
      <h3>
        <%= link_to room.name, room_path(room) %>
      </h3>

      <%= truncate(sanitize(room.detail).gsub(/<\/?[^>]*>/, "") ,:length => 150)  %>

    </div>
  <% end %>
  <% if @rooms.total_pages > 1 %>
    <div class="f_bor pagination">
      <%= will_paginate  @rooms %>
    </div>
  <% end %>
  <div class="firma_bottom"></div>
</div>




