<% title @search_title %>

<div class="pageHead">
  <%= t('activerecord.models.hotel') %>
  <div class="pageHeadOptions">
    <!-- <b>Sort by: </b> <%= link_to 'Price', '#' %>-->
  </div>
</div>

<% @hotels.each do |hotel| %>
    <div class="listItem">
      <div class="fl listItemLogo">
        <%= image_tag hotel.main_image_url(:thumb) %>
      </div>

      <div class="fl listItemDesc">
        <div class="fl hotel_desc_info">
          <div class="fl title">
            <%= link_to truncate(hotel.title, :length => 50), hotel %>
            <span class="star_rating" style="float:right; margin-top:2px;"><%= raw hotel_star_rating(hotel) %></span>
            <h4><%= hotel.location %></h4>
          </div>
          <div class="fl description">
            <%= truncate(sanitize(hotel.description).gsub(/<\/?[^>]*>/, ""), :length => 300) %>
          </div>

        </div>
        <div class="fl price_n_button">
          <div class="fl">
            <div class="fl price">
              <% if hotel.starting_price.to_i > 0 %>
                  <%= t('general.label.starting_price') %>
                  :
                  <span>
                    <%= hotel.starting_price.localize %>
                     <%= t('general.label.taka') %>
                  </span>
              <% end %>
            </div>
          </div>
          <%= link_to t('general.label.details'), hotel, :class => 'detail_link' %>
        </div>
      </div>

    </div>
<% end %>








