<div class="pageHead">
  <%= @hotel.name %>
</div>

<%= render :partial => 'shared_partials/detail_page_photo_gallery', :locals => {:items => @hotel.assets} %>

<div class="item_details">

  <div class="eventTitle "><b>
    <%= t('general.label.details') %>

  </b>
  </div>

  <% if @hotel.star_rating %>
      <div class="eventDetail">
        <label>
          <%= t('general.label.hotel_rating') %>
        </label>:
        <%= @hotel.star_rating.localize %>
        <%= t('general.label.star') %>
      </div>
  <% end %>

  <div class="eventDetail">
    <label>
      <%= t('general.label.address') %>
    </label>:
    <%= @hotel.address %>
  </div>

  <div class="eventDetail">
    <label>
      <%=t('general.label.total_rooms')%>
    </label>:
     <%= @hotel.total_rooms.localize %>
  </div>


  <div class="eventDetail">
    <%= raw textilize @hotel.description %>
  </div>

  <div class="good_item_head">
    <%=t('general.label.rooms_tariff')%>
  </div>
  <div class="itemDetail eventDetail">
    <div class="roomTitleHeader eventTitle fl">
      <%= t('general.label.room_type') %>
    </div>
    <div class="eventTitle roomPriceHeader  fl">
         <%= t('general.label.rooms_tariff') %>
    </div>
    <div class="eventTitle roomTitleHeader  fl">
       <%= t('general.label.total_rooms') %>
    </div>

    <% @hotel.rooms.each do |room| %>
        <div class="roomTitle fl">
          <%= link_to room.name, room, :target => '_blank' %>
        </div>
        <div class="roomPrice fl">
          <%= room.price.localize %>
        </div>
        <div class="roomTitle fl">
          <%= room.total_room.localize %>
        </div>
    <% end %>
  </div>

  <div class="good_item_head">
    <%= t('general.label.features') %>
  </div>
  <div class="itemDetail eventDetail">
    <%= raw hotel_features_list(@hotel) %>
  </div>


  <% if @hotel.valid_lat_long? %>
      <div class="good_item_head">
        <%= t('general.label.location_map') %>
      </div>
      <div class="itemDetail">
        <div id="map"></div>
      </div>
  <% end %>
  <div class="good_item_head">
      <%= t('general.label.policies') %>
  </div>
  <div class="itemDetail">
    <% @hotel.policies.each do |policy| %>
        <div class="eventTitle clear"><b><%= policy.title %></b></div>
        <div class="eventDetail clear"><%= policy.detail %></div>
    <% end %>
  </div>

  <div class="good_item_head">
     <%= t('general.label.contacts') %>
  </div>
  <div class="itemDetail">
    <% @hotel.contacts.each do |contact| %>
        <div class=" clear"><b><%= contact.name %></b></div>
        <div class="eventDetail clear"><%= t('general.label.phone')%>: <%= contact.phone %></div>
    <% end %>
  </div>

</div>