<% title @hotel.title %>
<%= content_for :js_css_include do %>
    <script type="text/javascript" src="http://maps.google.com/maps?file=api&v=2&key=<%= GMAP_API_KEY %>"></script>

    <%= javascript_include_tag 'jquery.easing.1.3', 'jquery.galleryview-1.1', 'jquery.timers-1.1.2', 'thickbox', 'jquery.gmap-1.1.0-min' %>
    <%= javascript_include_tag 'jquery.validate' %>
    <%= stylesheet_link_tag 'thickbox' %>

<% end %>

<%= content_for :over_mid_content do %>
    <div class="redhead_row">
      <div class="subLink">
        <ul>
          <li>
            <%= link_to t('general.label.message_to_authority'), "#TB_inline?dd=4&width=400&height=400&inlineId=send_message_to_owner_lb&modal=true", :class => 'thickbox' %>
          </li>

          <li>
            <%= link_to t('general.label.tell_your_friends'), "#TB_inline?dd=4&width=400&height=300&inlineId=send_to_friend_lb&modal=true", :class => 'thickbox' %>
          </li>

          <li>
            <%= link_to t('helpers.submit.print'), print_hotel_path(@hotel) %>
          </li>
          <li id="saved_item_li">
            <%= render :partial => 'shared_partials/saved_item', :locals => {:savable => @hotel} %>
          </li>
        </ul>
      </div>
    </div>
<% end %>

<div class="pageHead">
  <%= @hotel.name %>
</div>

<%= render :partial => 'shared_partials/detail_page_photo_gallery', :locals => {:items => @hotel.assets} %>

<div class="item_details">

  <div class="eventTitle "><b>
    <%= t('general.label.details') %>

  </b>
  </div>

  <% if @hotel.star_rating %>
      <div class="eventDetail">
        <label>
          <%= t('general.label.hotel_rating') %>
        </label>:
        <%= @hotel.star_rating.bangla %>
        <%= t('general.label.star') %>
      </div>
  <% end %>

  <div class="eventDetail">
    <label>
      <%= t('general.label.address') %>
    </label>:
    <%= @hotel.address %>
  </div>

  <div class="eventDetail">
    <label>
      <%=t('general.label.total_rooms')%>
    </label>:
     <%= @hotel.total_rooms.bangla %>
  </div>


  <div class="eventDetail">
    <%= raw textilize @hotel.description %>
  </div>
  <div class="eventDetail">
    <fb:like href="<%= hotel_url(:id => @hotel.id, :host => request.host, :port => request.port) %>" layout="standard" show_faces="true" width="400" action="recommend" font="segoe ui" colorscheme="light"/>
  </div>

  <div class="good_item_head">
    <%=t('general.label.rooms_tariff')%>
  </div>
  <div class="itemDetail eventDetail">
    <div class="roomTitleHeader eventTitle fl">
      <%= t('general.label.room_type') %>
    </div>
    <div class="eventTitle roomPriceHeader  fl">
         <%= t('general.label.rooms_tariff') %>
    </div>
    <div class="eventTitle roomTitleHeader  fl">
       <%= t('general.label.total_rooms') %>
    </div>

    <% @hotel.rooms.each do |room| %>
        <div class="roomTitle fl">
          <%= link_to room.name, room, :target => '_blank' %>
        </div>
        <div class="roomPrice fl">
          <%= room.price.bangla %>
        </div>
        <div class="roomTitle fl">
          <%= room.total_room.bangla %>
        </div>
    <% end %>
  </div>

  <div class="good_item_head">
    <%= t('general.label.features') %>
  </div>
  <div class="itemDetail eventDetail">
    <%= raw hotel_features_list(@hotel) %>
  </div>


  <% if @hotel.valid_lat_long? %>
      <div class="good_item_head">
        <%= t('general.label.location_map') %>
      </div>
      <div class="itemDetail">
        <div id="map"></div>
      </div>
  <% end %>
  <div class="good_item_head">
      <%= t('general.label.policies') %>
  </div>
  <div class="itemDetail">
    <% @hotel.policies.each do |policy| %>
        <div class="eventTitle clear"><b><%= policy.title %></b></div>
        <div class="eventDetail clear"><%= policy.detail %></div>
    <% end %>
  </div>

  <div class="good_item_head">
     <%= t('general.label.contacts') %>
  </div>
  <div class="itemDetail">
    <% @hotel.contacts.each do |contact| %>
        <div class=" clear"><b><%= contact.name %></b></div>
        <div class="eventDetail clear"><%= t('general.label.phone')%>: <%= contact.phone %></div>
    <% end %>
  </div>

  <%= render :partial => 'shared_partials/detail_page_comment', :locals => {:item => @hotel, :rating => true} %>
</div>


<div id="send_message_to_owner_lb" style="display: none">
  <%= image_tag 'close.jpeg', :class=> 'close_lb', :id => 'close_send_message_to_owner_lb', :title => 'close' %>
  <%= render :partial => 'messages/ajax_form', :locals => {:message_target => @hotel} %>

</div>

<%= render :partial => 'shared_partials/send_to_friends', :locals => {:item => 'hotel', :item_id => @hotel.id} %>

<style type="text/css">
    .eventDetail label {
        float: left;
        width: 120px;
        font-weight: bold;
    }

    .eventDetail .roomTitleHeader {
        width: 200px;
        font-weight: bold;
    }

    .eventDetail .roomTitle {
        width: 200px;
        margin: 3px 0;
    }

    .eventDetail .roomPriceHeader {
        width: 200px;
    }

    .eventDetail .roomPrice {
        width: 200px;
        color: #FF7D01;
        margin: 3px 0;
    }
</style>

<script type="text/javascript">
    $(document).ready(function() {
        $('#detail_page_photo_gallery').galleryView(TBD.DETAIL_PAGE_PHOTO_GALLERY_OPTIONS);

        <%if @hotel.valid_lat_long? %>
        $("#map").gMap({ markers: [
            { latitude: <%= @hotel.latitude %>,
                longitude: <%= @hotel.longitude %>,
                html: "<%= @hotel.name %>",
                popup: true }
        ],
            zoom: 8 });
        <% end %>
    });


</script>