<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= @title || "Welcome" %>  - Travelobd</title>
  <%= stylesheet_link_tag 'style', 'menu', 'bx_styles', 'jquery-ui' %>

  <%= javascript_include_tag 'jquery.min', 'jquery-ui', 'jquery.validate', 'rails', 'menu', 'application', 'jquery.bxSlider.min' %>
  <%= yield :js_css_include %>
  <%= stylesheet_link_tag 'bangla_fix'  if I18n.locale.to_s == 'bn' %>
   <script type="text/javascript">
      var currentLocale = '<%= I18n.locale.to_s%>';
  </script>
  <%= csrf_meta_tag %>
  <%= ajaxful_rating_style %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23661994-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body class="<%=I18n.locale%>">
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
    FB.init({
        appId  : '<%= FB_APP_ID%>',
        status : true, // check login status
        cookie : true, // enable cookies to allow the server to access the session
        xfbml  : true  // parse XFBML
    });
</script>
<div class="wrapper">
  <div class="wrap_body">
    <!--heading start -->
    <%= render 'layouts/header' %>
    <!--heading end -->
    <!--middle start -->
    <%= yield :over_mid_content %>
    <div class="midContent">
      <div class="home_left fl">
        <%= render :partial => 'shared/left_panel' %>
      </div>
      <div class="home_left_border fl">

      </div>
      <div class="midContentMain">
        <%= yield %>
        <% if @paginate_items %>
            <div class="pagination">
              <%= will_paginate @paginate_items, :renderer => CustomPaginationRenderer, :class => 'pagination_body', :prev_label => image_tag('left_arrow.png'), :next_label => image_tag('right_arrow.png') %>
            </div>
        <% end %>
      </div>

    </div>
  </div>
  <!-- <div class="mid_bot_bg"></div>-->
  <!--middle end -->

  <!--footer start -->
  <%= render 'layouts/footer' %>

  <!--footer start -->


</div>
</body>
</html>
