<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= @title || "Welcome" %></title>
  <%= stylesheet_link_tag 'style', 'menu', 'bx_styles', 'jquery-ui' %>
  <%= javascript_include_tag 'jquery.min', 'jquery-ui', 'jquery.validate', 'rails', 'menu', 'application', 'jquery.bxSlider.min' %>
  <%= yield :js_css_include %>
  <%= stylesheet_link_tag 'bangla_fix'  if I18n.locale.to_s == 'bn' %>
  <%= csrf_meta_tag %>
</head>

<body>

<div id="fb-root">

</div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
    FB.init({
        appId  : '<%= FB_APP_ID%>',
        status : true, // check login status
        cookie : true, // enable cookies to allow the server to access the session
        xfbml  : true  // parse XFBML
    });
</script>


<div class="wrapper">
  <div class="wrap_body">
    <!--heading start -->
    <%= render 'layouts/header' %>
    <!--heading end -->
    <%= yield :over_mid_content %>
    <!--middle start -->
    <div class="midContent">

      <div class="home_left fl">
        <div class="home_left_header fl search_header">
          <div class="home_left_header_content">
            My Tools
          </div>

        </div>
        <div class="home_left_content">
          <div class="mytools">
            <ul>
              <li><%= link_to 'Profile Home', dashboard_path, :class=> active_inactive_dashboard_navigation('dashboard') %></li>
              <li><%= link_to 'Edit Profile', edit_user_profile_url(current_user), :class=> active_inactive_dashboard_navigation('edit_profile') %></li>
              <li><%= link_to 'Change Password', edit_user_path(:id=> 'xxx'), :class=> active_inactive_dashboard_navigation('change_password') %></li>
              <li><%= link_to 'My Hotels', my_hotels_path, :class=> active_inactive_dashboard_navigation('my_hotels') %></li>
              <li><%= link_to 'My Hotel Rooms', my_rooms_path, :class=> active_inactive_dashboard_navigation('my_rooms') %></li>
              <li><%= link_to 'My Listed Spots', my_spots_path, :class=> active_inactive_dashboard_navigation('my_spots') %></li>
              <li><%= link_to 'My Listed Packages', my_packages_path, :class=> active_inactive_dashboard_navigation('my_packages') %></li>
              <li><%= link_to 'My Listed Transports', my_transports_path, :class=> active_inactive_dashboard_navigation('my_transports') %></li>
              <li><%= link_to 'My Tour Clubs', my_clubs_path, :class=> active_inactive_dashboard_navigation('my_clubs') %></li>
              <li><%= link_to 'Tour Club Joining Requests', club_joining_requests_path, :class=> active_inactive_dashboard_navigation('club_joining_requests') %></li>
              <li><%= link_to 'Tour Club Leaving Requests', club_leaving_requests_path, :class=> active_inactive_dashboard_navigation('club_leaving_requests') %></li>
              <li><%= link_to 'My Articles', my_articles_path, :class=> active_inactive_dashboard_navigation('my_articles') %></li>
            </ul>
          </div>

        </div>
      </div>

      <div class="home_left_border fl">

      </div>
      <div class="midContentMain fl">

        <%= yield %>
        <% if @paginate_items %>
            <div class="pagination">
              <%= will_paginate @paginate_items, :class => 'pagination_body', :prev_label => image_tag('left_arrow.png'), :next_label => image_tag('right_arrow.png') %>
            </div>
        <% end %>
      </div>
    </div>


    <!--<div class="mid_bot_bg"></div>-->
  </div>
  <!--middle end -->

  <!--footer start -->
  <%= render 'layouts/footer' %>

  <!--footer start -->


</div>
</body>
</html>


<style type="text/css">
    .midContent {
        padding-left: 0px;
        width: 990px;
    }

    .home_left {
        width: 200px;
    }

    .home_left_border {
        width: 37px;
        height: 1125px;
        overflow: auto;
        background: url("/images/separetor.png") no-repeat;
    }

    .home_middle {
        width: 530px;
        margin: 0px 10px;
    }

    .home_right {
        width: 190px;
    }

    .home_left_header, .dashboard_content_header {
        width: 200px;
        height: 32px;
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
    }

    .search_header {
        background: url("/images/heading_repeat.jpg") repeat-x;
    }

    .home_left_header_content, .dashboard_content_header_content {
        padding-left: 10px;
        padding-top: 8px;
    }

    .home_left_content {
        padding: 10px;
        width: 180px;
    }

    .home_left_content {
        padding: 10px;
        width: 180px;
    }

    .dashboard_content {
        width: 720px;
        margin-left: 20px;

    }

    .dashboard_content_header {
        width: 735px;
        margin-top: 10px;
        border-top: 1px solid #DFDFDF
    }

    .dashboard_content_top {
        width: 100%;
        float: left;
    }

    .dashboard_content_item {
        width: 712px;
        padding: 10px;
        border: 2px solid #DFDFDF;
        border-top: 0;
        background: #ffffff;
    }

    .dashboard_content_top_left {
        width: 300px
    }

    .dashboard_content_top_right {
        width: 400px;
        text-align: right;
        margin-top: 8px;
    }

    .dc_item {
        width: 712px;
        margin-bottom: 15px;
        padding-bottom: 5px;
        border-bottom: 1px dotted #cccccc;
    }

    .dc_item_image {
        width: 75px;
    }

    .dc_item_image img {
        width: 73px;
        height: 53px;
        border: 1px solid #cccccc
    }

    .dc_item_text {
        width: 479px;
        margin: 0px 10px
    }

    .dc_item_text .title {
        font-size: 14px;
        margin-bottom: 4px;
    }

    .dc_item_links {
        font-weight: bold;
        width: 138px;
    }

    .dc_item_links a {
        color: #569A23;
        margin-left: 2px;
    }

    .add_link {
        float: right;
        margin-right: 12px;
    }

    .add_link a {
        color: #ffffff
    }

    fieldset.moderator {
        width: 322px;
        padding: 10px;
        border: 2px solid #ccc;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    legend {
        padding: 0px 5px;
    }

    .user_box_item {
        float: left;
        border: 1px solid #ccc;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 10px;
        width: 80px;
        height: 60px;
        background: #eeeeee;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .avatar {
        width: 100px;
        height: 80px;
        float: left;
    }

    .first_name_last_name {
        float: left;
        width: 582px;
    }
</style>
